*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.titulo{
    border-radius: 10px 10px;
}

body{
    font-family: sans-serif;
    margin: 0;
    background: #7b9700;
}

a{
    text-decoration: none;
    color: black;
    display: flex;
    display: inline-block;
    justify-content: '';

}

header{
    display: flex;
    background-image: linear-gradient(
        150deg,
    #d0ff00,
    rgb(60, 255, 0),
    #2a8526);
    position: fixed;
    width: 100cqb;
    border-radius: 7px 10px;
    padding-top: 10px;
    min-width:100% ;
    justify-content: space-evenly;
    align-items: center;
}

.Logo{
    display: flex;
    align-items: center;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: rgb(95, 75, 20);
    transition: 1s;
    
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}

.img1{
    max-width: 15%;
    margin-top: 60px;
    border-radius: 10px ;
    padding-top: 40px;

}

.tema1{
    margin-top: 15px;
}

.p1{
    margin:15px ;
}

.p2{
    margin-top: 20px;
}

.p3{
    margin-top: 20px;
}

.tema2{
    margin: 80px;
}

.img2{
    border-radius: 10px 10px;
}

.beneficios{
    margin-top: 20px;
}

li{
    list-style: none;
    justify-content: space-between;
    
}

html{
    scroll-behavior: smooth;
}

section[id] {
    scroll-margin-top: 70px;
}

footer{
    height: 200px;
    background: #38bd64;
    margin-top: 15px;
    border-radius: 15px 15px;
}

.numero{
    padding-top: 20px;
}

.nombre{
    padding-top: 10px;
}

.exp{
    padding-top: 85px;
}
