:root{
    overflow-x: hidden;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
 
html{
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    --color1: #fff;
    --color2: #f05151;
    background: linear-gradient(
        180deg,
        rgb(133, 235, 65)50%,
        rgba(109, 40, 23, 0.966)90%
    );
    background-repeat: no-repeat;
    height: 720px;
}
/*Todo del header,menu,close menu,responsive*/

.all-navbar{
    z-index: 1000;
}

.nav-bar {
    width: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: #639732c4;
    position: relative;
    padding: 17px 30px;
    border-radius: 0 0 0 10px;
    left: 530px;
    position: relative;
    position: block;
    border:2px inset black;
    position: fixed;
    z-index: 1;
    height: 51px;
    z-index: 100;
}

.menu {
    display: flex;
    max-width: 40%;
    z-index: 100;
    
}
.menu li {
    padding-left: 315x;
    z-index: 100;
    
}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
    z-index: 100;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
    border-radius: 10px;
    color: #4aaf10;
    
}
.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.9rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 5px;
    right: 20px;
    z-index: 100;
}
#check {display: none;}
@media(max-width: 610px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 50vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #74a348c4;
        transition: all 0.2s ease-in-out;
        display: flex;
        border: 3px inset black;
        border-radius: 10px 0px 10px 10px;
        
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px; 
        font-size: 18px;

    }
    .open-menu , .close-menu {
        display: block;

    }
    #check:checked ~ .menu {right: 0;}
}

/*primera Card-information,image,section*/

.primer-info-tarjeta{
    background: linear-gradient(
        180deg,
        rgb(252, 123, 123)50%,
        rgb(193, 255, 112)100%
    );
    border:3px solid rgb(0, 0, 0);
    display: flex;
    width: 26rem;
    height: 31rem;
    border-radius: 20px;
    flex-direction: column;
    overflow: scroll;
    margin-left: 100px;
    margin-top: -140px;
    font-size: 20px;
    box-shadow:  0 0 10px black;
    z-index: -1;
    text-align: center;
    font-style:oblique;
    overflow: auto;
}

.primer-info-tarjeta > .que-es-la-manzana{
    margin-bottom:20px;
    flex-direction: column;
    font-size: 30px;
    color: rgba(77, 74, 66, 0.651);
    position: relative;
    font-style: italic;
}

.emoji{
    animation: bounce 2s cubic-bezier(0.5, 0.05, 1, 0.5) infinite;
    opacity: 70%;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
  }
  

.img1{
    position: relative;
    left:5px;
    display: flex; 
    top: -80px;
    z-index: 1003;
}

.firts-section{
    position: relative;
    display: flex;
    z-index: 2;
    border: 2px inset black;
    background-color: #4aaf10;
    padding: 7px;
    width: 45px;
    top: 50px;
    border-radius: 10px 0 20px 0 ;
    
}

.number-one{
    color: hsl(71, 90%, 50%);
}

/*El div sobre el parrafo de las vitaminas,imagenes,segunda seccion*/

.vitaminas{
    position: relative;
    top: 46px;
    display: flex;
    width: 50px;
    max-height: 267px;
    
}


.sus{
    position: relative;
    top: -140px;
    font-size: 35px;
    font-style: oblique;
    left: 150px;
    color: #b36a27;
    animation: reveal linear both;
    animation-timeline: scroll();
    animation-range: entry 150px cover 45%;
}

.propiedades{
    color: rgb(231, 248, 80);
    top: -150px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-style: italic;
    animation: reveal linear both;
    animation-timeline: scroll();
    animation-range: entry 150px cover 45%;
}

.vitaminas-parrafo{
z-index: 1000;
position: relative;
flex-direction: column;
text-align: center;
justify-content: center;
color: #95e4e0;
font-size: 28px;
font-style: oblique;
animation: reveal linear both;
animation-timeline: scroll();
animation-range: entry 220px cover 45%;
}

@keyframes reveal {
    from {
        opacity: 0.6;
        scale: .5;
    }
    to{
        opacity: 1.3;
        scale: 1;
}
}
.imagen-vitaminas{
    display: flex;
    height: 632px;
    width: 600px;
    box-shadow: 0 0 0 5px black ;
    border-radius: 20px;
}

.number-section2{
    position: relative;
    display: flex;
    z-index: 2;
    border: 2px inset black;
    background-color: #4aaf10;
    padding: 8px;
    width: 45px;
    height: 60px;
    border-radius:20px 0 20px 0 ;
    color: hsl(71, 90%, 50%);
    transform: translateY(-580px);
    font-size: 35px;
    position: sticky;
}


/* seccions */

html{
    scroll-behavior: smooth;
}

/* Todo apartir del tercer parrafo y seccion */

.number-section3{
    position: relative;
    display: flex;
    z-index: 4;
    border: 2px inset black;
    background-color: #4aaf10;
    padding: 8px;
    width: 45px;
    right: 270px;
    border-radius:20px 0 20px 0 ;
    color: hsl(71, 90%, 50%);
    transform: translateY(-10px);
    font-size: 35px;
}

.parrafo-content{
    background-color: rgb(252, 183, 183);
    border: 4px solid rgb(1, 233, 250);
    border-radius: 20px;
    padding-top: 10px;
        position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.palabras-del-parrafo-tres{
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: reveal linear both;
    animation-timeline: scroll();
    animation-range: entry 25% cover 50%;
    font-style: oblique;
    top: -30px;
    color: #126d35;
}


.Manzano{
    border-radius: 20px;
    position: relative;
    width: 370px;
    border: #685e5e 2px solid;
    top: -37px;
}

.su{
position: relative; 
color: rgb(133, 93, 34);
font-style:oblique ;
top: -43px;
font-size: 33px;
}

.Historia{
    position: relative;
    color: rgb(143, 38, 38);
    font-style: oblique;
    font-size: 40px;
    top: -45px;
}

footer{
    padding: 30px;
    height: 80px;
    background:  linear-gradient(
        180deg,
        rgb(222, 235, 225)50%,
        rgb(8, 10, 2)110%
    );
    border-radius: 20px;
    border: 4px solid black ;
    
}

.creacion{
    position: relative;
    top: -30px;
    font-style: oblique;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.aloe-vera{
    position: relative;
    font-size: 18px;
    font-style: oblique;
    justify-content: center;
    align-items: center;
}

.entra-aqui{
    color: rgb(12, 72, 238);
    font-size: 17px;
    font-weight: 900;
    position: relative;
    left: 70px;
    top: -20px;
}

/* Ahora el lado Media Queries */

@media (min-width: 611px)  {
    .nav-bar{
      display: none;

    }
    .nav-pc{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        background-color: #95e4e0;
        border-radius: 0 0 10px 10px ;
        height:50px;
        border:3px solid #49807d ;
        width: 100vw;
        top: 0px;
        z-index: 1001;
        position: fixed;
        
    }
    .liss{
        display: inline-block;
        text-decoration: none;
        color: rgb(10, 10, 9);
        text-align: center;
        transition: 0.15s ease-in-out;
        position: relative;
        text-transform: uppercase;
        z-index: 100;
        font-size: 17px;
        margin-left: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        font-weight: 600;
        font-family:sans-serif;
        top: -px;
        
    }
    .liss::after{
        content: "";
        width: 0;
        height: 0;
        background-color: #2dc07c;
        position: absolute;
        transition: ease .5s;

    }
    .liss:hover::after{
        width: 100%;
        height: 5px;
        border-radius: 5px;
        top: 20px;
        left: 0px;
    }
    .menu li a {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        margin-left: 40px;
        display: block;
        font-size: 18px;
    }
    .menu li a:hover:after {width: 100%;}
    .open-menu , .close-menu {
        position: absolute;
        color: var(--color1);
        cursor: pointer;
        font-size: 1.9rem;
        display: none;
    }
    .open-menu{
        display: none;
    }
    
}


@media(max-width: 610px){
    .nav-pc{
        display: none;
    }
    .liss{
        display: none;
    }
    .nav-bar{
        top: 0px;
    }
    .number-one{
        top: 0;
    }
    body{
        max-height: 100vh;
        margin-top: -40px;
    }
}
